.video-item {
    display: flex !important;
    align-items: center !important;
    cursor: pointer;
}

.video-item.item img {
    min-height: 90px;
    max-height: auto;
    max-width: 175px;
    min-width: 175px;
}